extends layout
    
block content
  .container              
    h1 LifeEra
    p#lead Login or Register here
    a(href="/login") Login
    br
    a(href="/register") Register
    
      
    
      


